/* Estilos generales */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #198fca, #0f6e8f); /* Azul claro a azul oscuro */
  background-size: cover;
  background-attachment: fixed;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  margin: 0;
  padding: 0.5em 0;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0.5em 0;
}

/* Promoción */
.promocion {
  background-color: #ffcc00; /* Amarillo */
  color: #333;
  text-align: center;
  padding: 0.5em 0;
  font-weight: bold;
}

/* Navegación */
.navegacion {
  background-color: #008080; /* Verde azulado */
  color: #fff;
  padding: 1em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navegacion nav h3 {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.navegacion ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navegacion ul li {
  margin: 0 1em;
}

.navegacion ul li a {
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1em;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.navegacion ul li a:hover {
  background-color: #20b2aa; /* Verde claro */
  color: #fff;
  border-radius: 5px;
  transform: scale(1.2);
}

/* Sección principal */
/* Sección principal */
.principal {
  background-color: #fff;
  text-align: center;
  padding: 2em 0;
}

.principal header h1 {
  font-size: 2.5em;
  background-color: #0f6e8f; /* Azul oscuro para el fondo del título */
  color: #e0f7fa; /* Azul claro que combina con el fondo, pero es más visible */
  padding: 0.5em;
  border-radius: 5px; /* Bordes redondeados */
}

.principal header h2 {
  font-size: 1.5em;
  color: #777;
}


/* Imagen de la sección */
.image img {
  width: 10%;
}

/* Animación de fondo */
@keyframes moverFondo {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

/* Efecto de fondo animado */
body {
  animation: moverFondo 5s linear infinite;
}